.card{
    border: 2px #45567d solid;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: left; 
    margin: 20px auto;
    max-width: 650px; 
    box-shadow: rgba(69, 86, 125, 0.15) 5px 5px 6px;
}

.icon{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 1rem;
}

.instituicao{
    font-size: 30px;
    font-weight: bold;
}

.amostra{
    color: #d41010;
    text-decoration: underline;
}

.amostra i{
    margin: 5px
}

.funcao{
    font-weight: lighter;
    text-align: justify;
}

.skills{
    font-style: italic;
    background-color: #45567d;
    padding: 3px;
    border-radius: 5px;
}

.time {
    font-size: smaller;
    font-style: italic;
    font-weight: lighter;
}