.card {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 20px auto;
    max-width: 650px; 
  }

.certificates{
  display: flex;
  align-items: center;
  margin: 20px;
}

  
.logo {
  margin-right: 20px; 
    
}

.logo-course img{
  border-radius: 5%;
  width: 4rem; 
  height: 4rem; 
  max-width: 100%;
  margin: 1rem;
  object-fit: cover;
}
  
.logo img {
  border-radius: 50%; 
  width: 10rem; 
  height: 10rem; 
}

.card div {
  text-align: left;
  width: 100%;
}

.name {
  font-size: 2.75rem;
  
}

.kind {
  color: #d41010;
}
.year { 
  font-size: small;
  font-style: italic;
}
